html {
  font-size: 62.5%; /* base de 10 */
}

body {
  background: #212121;
}

.changeSize {
  width: 85%;
  transition: ease 1s;
}


.burger {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 3rem;
  z-index: 9998;
}

.burgerPosition {
  position: fixed;
  top: 3rem;
  left: 80%;
}

.burger-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 0.3rem;
  background: #fff;
  z-index: 9999;
}

.burger-menu::before {
  content: "";
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 0.3rem;
  background: #fff;
  z-index: 9999;
}

.burger-menu::after {
  content: "";
  position: absolute;
  top: 220%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 0.3rem;
  background: #fff;
  z-index: 9999;
}

.header {
  position: fixed;
  top: 0%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50rem;
  margin-top: 2rem;
  }

.logo {
  height: 3rem;
  width: 10rem;
  margin-left: 4rem;
}

.logo img {
  width: 100%
}

.search {
  margin-right: 5rem;
  width: 100%;
}

.searchInput {
  width: 100%;
}



.sideMenuDisplay {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  background: #111111;
  color: #f2f2f2;
  animation: slide-out-right 0.5s both;
}

.closeBurger {
  display: block;
  animation: slide-in-right 0.5s both;
}


.menuTitle {
  text-align: center;
  font-size: 3rem;
}

.menuList {
  margin-top: 5rem;
}

.menuListItems {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'gotham' sans-serif;
}

.menuListItems li {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.recent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 0 4rem;
  margin-top: 20rem;
}


.film {
    height: 230px;
    width: 100%;
    background: grey;
}

.genre {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 5rem;
  grid-gap: 3rem;
}

.genreTitle {
  color: #f2f2f2;
  font-size: 1.4rem;
  text-align: center;
}

.tags {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #277e7f;
  border-radius: 25px;
  color: #f2f2f2;
}





input[type="checkbox"], input[type="radio"] {
  display: none;
}


.horror {
  grid-column: 2;
  grid-row: 1;
}

.comedy {
  grid-column: 3 ;
  grid-row: 1;
}

.thriller {
  grid-column: 4;
  grid-row: 1;
}

.fantastique {
  grid-column: 5;
  grid-row: 1;
}

.aventure {
  grid-column: 6;
  grid-row: 1;
}

.animation {
  grid-column: 2;
  grid-row: 2;
}

.enfant {
  grid-column: 3;
  grid-row: 2;
}

.sport {
  grid-column: 4;
  grid-row: 2;
}

.documentaire {
  grid-column: 5;
  grid-row: 2;
}

.loisir {
  grid-column: 6;
  grid-row: 2;
}

.videoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 0 4rem;
  margin-top: 5rem;
}

.videoGrid {
  height: 400px;
  width: 100%;
  color: white;
}

.playButtonContainer {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30%;
  left: 45%;
  transform: translate(-50% -50%);
}

.playButtonImg {
  width: 100%;
}

.hoverVideoContainer {
  display: none;
}

.videoGrid:hover>.hoverVideoContainer {
  display: block;
}

.videoGrid:hover {
  transform: scale(1.1);
}

.videoGrid {
  position: relative;
}

.titleMovie {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 40%;
}

.imgMovieMini {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}




.overlay {
  display: fixed;
  width: 80%;
  margin: 0 auto;
  color: #f2f2f2;
}


.overlayGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.retour {
  background: grey;
  grid-column: 1 / 10;
  grid-row: 1;
}


.overlayDescription {
  grid-column: 4 / 6;
  grid-row: 2;
  background: yellow;
  color: #f2f2f2;
}

.overlayComments {
  grid-column: 6 / 8;
  grid-row: 2;
  background: red;
  color: #f2f2f2;
}

.overlayTrailer {
  grid-column: 8 / 10;
  grid-row: 2;
  background: green;
  color: #f2f2f2;
}

.imgContainer {
  grid-column: 1 / 4;
  grid-row: 3 / 12;
  background: grey;
  height: 400px;
  width: 100%;
}

.overlayMovieTitle {
  background: cyan;
  grid-row: 4;
  grid-column: 4 / 7;
  height: 30px;
}

.overlayStars {
  background: yellow;
  grid-row: 4;
  grid-column: 7 / 9;
  height: 30px;
}

.overlayRating {
  background: blue;
  height: 30px;
  grid-column: 4;
  grid-row: 5;
}

.overlayDuration {
  background: red;
  height: 30px;
  grid-column: 5 / 7;
  grid-row: 5;
}

.overlayDate {
  background: green;
  height: 30px;
  grid-column: 7 / 9;
  grid-row: 5;
}

.overlayDescription2 {
  background: brown;
  height: 200px;
  grid-column: 4 / 9;
  grid-row: 7 / 10;
}

.overlayGenre {
  background: yellow;
  height: 30px;
  grid-column: 4 / 9;
  grid-row: 11;

}



@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
