html {
  font-size: 62.5%; /* base de 10 */
}

body {
  background: #212121;
  width: 80%;
}


.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50rem;
  margin-top: 2rem;
  }

.logo {
  background: grey;
  height: 3rem;
  width: 10rem;
  margin-left: 4rem;
}

.logo img {
  width: 100%
}

.search {
  margin-right: 5rem;
  width: 30%;
}

.searchInput {
  width: 100%;
}


.sideMenu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  background: #111111;
  color: #f2f2f2;
}

.menuTitle {
  text-align: center;
  font-size: 3rem;
}

.menuList {
  margin-top: 5rem;
}

.menuListItems {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'gotham' sans-serif;
}

.menuListItems li {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.recent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 0 4rem;
  margin-top: 5rem;
}


.film {
    height: 230px;
    width: 100%;
    background: grey;
}

.genre {
  margin-top: 5rem;
}

.genreTitle {
  color: #f2f2f2;
  font-size: 3rem;
  text-align: center;
}

.genreList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 5rem;
}

.tags {
  color: #f2f2f2;
  text-decoration: none;
}

.tags li {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
}

.action {
  grid-column: 6;
  grid-row: 1;
  margin-bottom: 5rem;
}

.animation {
  grid-column: 4;
  grid-row: 1;
}

.comedy {
  grid-column: 2 ;
  grid-row: 1;
}

.horror {
  grid-column: 3;
  grid-row: 2;
}

.thriller {
  grid-column: 5;
  grid-row: 2;
}

.videoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 0 4rem;
  margin-top: 5rem;
}

.video {
  height: 250px;
  width: 100%;
  background-color: grey;
}
