html {
  font-size: 62.5%; /* base de 10 */
}

body {
  background: #212121;
}

.changeSize {
  width: 85%;
}


.burger {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 3rem;
  z-index: 9998;
}

.burgerPosition {
  position: fixed;
  top: 3rem;
  left: 80%;
}

.burger-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 0.3rem;
  background: #fff;
  z-index: 9999;
}

.burger-menu::before {
  content: "";
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 0.3rem;
  background: #fff;
  z-index: 9999;
}

.burger-menu::after {
  content: "";
  position: absolute;
  top: 220%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 0.3rem;
  background: #fff;
  z-index: 9999;
}

.header {
  position: fixed;
  top: 0%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50rem;
  margin-top: 2rem;
  }

.logo {
  height: 3rem;
  width: 10rem;
  margin-left: 4rem;
}

.logo img {
  width: 100%
}

.search {
  margin-right: 5rem;
  width: 100%;
}

.searchInput {
  width: 100%;
}



.sideMenuDisplay {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  background: #111111;
  color: #f2f2f2;
}

.closeBurger {
  display: block;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.menuTitle {
  text-align: center;
  font-size: 3rem;
}

.menuList {
  margin-top: 5rem;
}

.menuListItems {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'gotham' sans-serif;
}

.menuListItems li {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.recent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 0 4rem;
  margin-top: 20rem;
}


.film {
    height: 230px;
    width: 100%;
    background: grey;
}

.genre {
  margin-top: 5rem;
}

.genreTitle {
  color: #f2f2f2;
  font-size: 3rem;
  text-align: center;
}

.genreList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 5rem;
}

.tags {
  color: #f2f2f2;
  text-decoration: none;
}

.tags li {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
}

.action {
  grid-column: 6;
  grid-row: 1;
  margin-bottom: 5rem;
}

.animation {
  grid-column: 4;
  grid-row: 1;
}

.comedy {
  grid-column: 2 ;
  grid-row: 1;
}

.horror {
  grid-column: 3;
  grid-row: 2;
}

.thriller {
  grid-column: 5;
  grid-row: 2;
}

.videoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 0 4rem;
  margin-top: 5rem;
}

.video {
  height: 250px;
  width: 100%;
  background-color: grey;
}


@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
